<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnString" connectionString="Data Source=DESKTOP-3L6FC49\SQLEXPRESS;Initial Catalog=FMSDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--<add name="SQLConnString" connectionString="server=203.171.228.165;database=FileSystem;uid=sa;pwd=1602264241;Max Pool Size = 512"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
